* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #161f47;
}

.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 100px 0 30px;
}

.counter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}

.counter-container,
.buttons-container {
    max-width: 815px;
}

p {
    font-size: 20px;
}

.human-counter,
.machine-counter,
.draw-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
}

.text {
    height: 80px;
    text-align: center;
}

.win {
    animation: shinning linear 1s infinite alternate;
}

h2 {
    margin-top: 200px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    margin-top: 50px;
}

img {
    position: relative;
    z-index: -2;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

button:hover:not([disabled]) {
    opacity: 0.5;
}

.human-choice {
    width: 100px;
    height: 100px;
}

#reset {
    margin: 0;
}

#reset img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
}

@keyframes shinning {
    from {
        color: white;
        text-shadow: 1px 1px 2px black;
    }
    to {
        color: #6df06d;
        text-shadow: 1px 1px 2px black, 0 0 25px white;
    }
}